.country-container {
  position: relative;
  background-color: #2b3844;
  min-width: 264px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

.transparent-click {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.flag-img {
  width: 264px;
  height: 160px;
  align-self: center;
}

.country-name {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  left: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
}

.country-container > p {
  font-family: "Nunito Sans";
  position: relative;
  left: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 40px;
}
